<!DOCTYPE html>
<html>
<head>
  <title>myOffie - Rating wines in London</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div id="container">
    <header>
      <h1>myOffie</h1>
      <p class="sub-header">Rating wines in London</p>
      <nav>
        <ul>
          <li><a href="/wines">Home</a></li>
          <li><a href="/wines/new">Add</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </div>
</body>
</html>
