body {
  background-color: pink;
  font-size: 62.5%;
  font-family: courier, verdana, arial;
  color: #333;
  margin: 0;
  background-image: url("pattern1.png");
  visibility: 0.2;
}
#container {
  margin: 0 auto;
  width: 50%
}
main, footer {
  width: 100%;
  text-align: center;
}
ul {
  margin: 5px 20px;
  padding: 0;
}
header {
  font-size: 1.6em;
  width: 100%;
  display: inline-block;
  border: 2px dotted black;
  margin: 20px 0;
  background-color: rgba(255,0,0,0.2);
}
h1 {
  font-size: 2.8em;
  color: #111;
  margin: 20px 0 -25px 20px;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-family: verdana, arial;
  font-size: 1em;
  display: inline-block;
}
li {
  display: inline-block;
  border: 2px dotted black;
  padding: 10px 20px;
  background-color: rgba(0,0,0,0.2);
}
a {
  :before
  font-size: 1.4em;
  color: black;
  text-decoration: none;
}
li:hover {
  background-color: rgba(0,0,0,0);
}
span {
  font-size: 1.8em;
  display: inline-block;
  margin: 5px 0;
}
label {
  font-size: 2em;
  line-height: 200%;
}
input {
  border: 1px solid black;
  font-size : 1.8em;
  margin: 5px 15px 5px 0;
  padding: 0 5px;
}
.actionButton {
  background-color: rgba(0,0,0,0.2);
  border: 1px solid black;
  margin: 5px 15px 5px 0;
  padding: 0 5px;
}
.actionButton:hover, .actionForm:hover {
  background-color: rgba(0,0,0,0);
}
.actionForm {
  border: 1px solid black;
  font-size : inherit;
  margin: 5px 15px 5px 0;
  padding: 0 5px;
  background-color: rgba(0,0,0,0.2);
  font-family: courier, verdana, arial;
}
// Square
#square {
  width: 500px;
  height: auto;
  display: block;
}
.square {
  border: 1px dotted black;
  margin-bottom: 10px; 
}
#square-top {
  width: 100%;
  height: auto;
  margin: 10px;
  padding: 0;
}
#square-bottom {
  padding-bottom: 10px;
}
.lining {
  display: inline-block;
}
.sub-header {
  font-size: 1.6em;
  padding: 0  0 0 20px;
}





