<h1>New erb</h1>

<form action="/wines" method="post">
  <label for="wine[name]">Name:</label>
  <input name="wine[name]">

  <label for="wine[country]">Country:</label>
  <input name="wine[country]">

  <label for="wine[price]">Price:</label>
  <input name="wine[price]">

  <label for="wine[rate]">Rate (1-5):</label>
  <input name="wine[rate]">

  <input type="submit" value="Create">
</form>