<div id="square" class="square">
    <div class="square-top">
      <span class="lining">Name: <%= wine.name %></span> || 
      <span class="lining">Country: <%= wine.country %></span><br>
      <span class="lining">Price: <%= wine.price %></span> || 
      <span class="lining">Rate: <%= wine.rate %></span>
    </div>
</div>